@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-font: 'Excon', sans-serif;
  --secondary-font: 'Ranade', sans-serif;
  font-family: var(--primary-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.velvet-effect {
  position: relative;
  cursor: pointer;
}

.velvet-effect::before {
  content: '';
  position: absolute;
  inset: 0;
  padding-block: 12px;
  border-bottom: 3px solid #3e3e3e;
  transform: scaleX(0%);
  transition: transform 300ms ease;
  transform-origin: right;
  z-index: -1;
}

.velvet-effect:hover::before {
  transform: scaleX(100%);
  transform-origin: left;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  width: 100vw;
  overflow-x: hidden;
}

.navbar > * {
  color: #fff;
  fill: #fff;
}

.navbar:hover>* {
  color: #000;
  fill: #000;
}

.navbar::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
  z-index: -1;
  transform: scaleY(0%);
  transition: transform 300ms ease;
  transform-origin: top;
}

.navbar:hover::before {
  transform: scaleY(100%);
}


.bag-product::-webkit-scrollbar {
  display: none;
}



body {
  scrollbar-color: var(#1b1b1b);
}

body::-webkit-scrollbar {
  width: 10px
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  background: transparent;
  transition: all 500ms ease;
}

body::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 20px;
  border: 1px solid #fff;

}


/* code for page transition */
.slide-in{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  transform-origin: bottom;
  z-index: 100;
}
.slide-out{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  transform-origin: top;
  z-index: 100;
}


#sorting:focus{
  outline: 0;
  border: none;
}